In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv(r'ds4_train.csv')

In [3]:
data

      y        x0        x1
0  -1.0  0.595663  0.193072
1  -1.0  0.436997  0.544807
2   1.0  0.899945  0.845922
3  -1.0  0.555064  0.009263
4  -1.0  0.074687  0.282845
..  ...       ...       ...
95  1.0  0.817329  0.693709
96 -1.0  0.037212  0.122634
97  1.0  0.097158  0.931522
98  1.0  0.807512  0.583752
99 -1.0  0.829861  0.086287

[100 rows x 3 columns]

In [4]:
x_train=data.iloc[:,0:4]
y_train=data.loc[:,['y']]

xv=x_train.values
colsx=x_train.shape[0]
zer=np.ones((colsx,1))
x_train_new=np.hstack((zer,xv))

In [ ]:
itera=0
col_x=(x_train_new.shape[1])
theta1=np.zeros((col_x,1))
lr=1e-7
m=x_train_new.shape[0]
g=lambda x:np.exp(x)
while itera<2500:
    theta=theta1

    grad=(1/m)*((x_train_new).T).dot(((y_train)-g((x_train_new.dot(theta)))))
    

    theta1=theta+(grad*lr)
    
    dell=np.linalg.norm((theta1-theta),ord=1)

    if dell< 1e-8:
        print(f'break up party at {itera}th iteration')
        break
        
    
    itera+=1

theta=theta1
print(theta)


y_pred=np.exp(((x_train_new)@theta))
print(y_pred)